[submodule "blog"]
	path = blog
	url = git@github.com:Yufeng98/myblog.git
[submodule "external/ai-architecture-system"]
	path = external/ai-architecture-system
	url = https://github.com/Yufeng98/AI-architecture-system.git
